{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Strategy Playground - Rang Lista</title>
{% endblock %}
{% block content %}
<div class="signup-form">
    <h2 class="form-title">Rang lista: {{ naziv }}</h2>
    <form method="POST" class="register-form" id="register-form">
        <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#Broj</th>
                        <th scope="col">Korisnik</th>
                        <th scope="col">Strategija</th>
                        <th scope="col">Učinak</th>
                    </tr>
                </thead>
                <tbody>
                    {% for red in redovi %}
                        <tr>
                            <th scope="row">{{ red.broj }}</th>
                            <td>{{ red.korisnik }}</td>
                            <td>{{ red.strategija }}</td>
                            <td>{{ red.score }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </form>
</div>
<div class="signup-image">
<figure>{% load static %}<img src="{%static 'StrategyPlayground/1.png' %}" alt="sing up image"></figure>
</div>
{% endblock %}